<div class="bg-light">
  <div class="container">
    <nav class="navbar navbar-light bg-light flex-nav">

      <a class="navbar-brand" href="/">
        <img src="/images/Logo_Morado.png" alt="kiui-logo" class="logo-nav">
      </a>

    

      <div id="navbarNav">
        <ul class="nav navbar-nav">
          <li class="nav-item dropdown bg-light">
            <a class="nav-link btn-nav" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <ul id="navbarUser">
                <div class="flex-column">
                  <div>
                    <a class="dropdown-item" href="/createEvent">Crear un evento</a>
                    {{#if currentUser }}
                    <a class="dropdown-item" href="/events">Mis eventos</a>
                    {{/if}}
                    <a class="dropdown-item" href="/">¿Cómo funciona?</a>
                    {{#if currentUser }}
                    <a class="dropdown-item" href="#modalProfile" data-toggle="modal">Perfil</a>
                    <form action="/logout" method="post">
                      <button type="submit" class="dropdown-item">Cerrar sesión</button>
                    </form>
                    {{/if}}
                    {{#if currentUserNotRegister}}
                    <a class="dropdown-item" href="/login" >Iniciar sesión</a>
                    {{/if}}
                  </div>
                </div>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</div>



<div id="modalProfile" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">

      <div class="modal-header">
        <h3>Perfil</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <form class="form" id="profile-user" >
          {{!-- method="POST" action="/update/{{user._id}}" enctype="multipart/form-data" --}}
          <div class="card-body text-center">
            <div class="form-group" id="formPhoto">
              <img src="{{user.avatar}}" alt="image profile" style="width: 10rem;vertical-align:0px" id="perfil-img">
              <i class="fa fa-camera fa-2x" aria-hidden="true" id="selectLogo"></i>
              <input type="hidden" id="url-file" name="urlFile" class="form-group1">
              <input type="file" accept="image/*" name="file-image" id="file-image" class="none" value="{{user.avatar}}">
            </div>
            <div class="form-group bmd-form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">Nombre</i>
                  </span>
                </div>
                <input name="nameUserProfile" id="nameUserProfile" type="text" class="form-control" value="{{user.name}}">
              </div>
            </div>
            <div class="form-group bmd-form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="material-icons">Teléfono</i>
                  </span>
                </div>
                <input type="text" name="numberUser" class="form-control" value="{{user.number}}" readonly>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" onclick="saveProfile(event, '{{user._id}}')"  class="btn btn-primary btn-link btn-wd btn-lg guardar">Guardar cambios</button>
          </div>
        </form>
      </div>

    </div>
  </div>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>



<script>
  window.addEventListener('load', urlName)

  function urlName() {
    const urlfile = document.getElementById('url-file')
   const location = new URL(window.location.href)
   urlfile.value = location.pathname
    
  }

  $("#selectLogo").click(function () {
    // creating input on-the-fly
    const formPhoto = document.getElementById('formPhoto')
    const input = document.getElementById('file-image')

    input.click();
    const img = document.getElementById('perfil-img');
    const value = input.value;
    input.addEventListener("change", () => {

      // Los archivos seleccionados, pueden ser muchos o uno
      const archivos = input.files;
      // Si no hay archivos salimos de la función y quitamos la imagen
      if (!archivos || !archivos.length) {
        img.src = "";
        return;
      }
      // Ahora tomamos el primer archivo, el cual vamos a previsualizar
      const primerArchivo = archivos[0];
      // Lo convertimos a un objeto de tipo objectURL
      const objectURL = URL.createObjectURL(primerArchivo);
      // Y a la fuente de la imagen le ponemos el objectURL
      img.src = objectURL;
    });
  });
</script>